.main {
    display: flex;
    justify-content: space-between;
}
.payment-page {
    display: flex;
    flex-direction: column;
    width: 82.5%;
    height: 70vh;
    gap: 20px;
    align-items: center;
}

.payment-page h2 {
    margin: 20px;
    text-align: center; 
}

form {
    width: 100%;
    max-width: 500px;
    border: 0.25px solid gray;
    padding: 50px;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

.radio-02 {
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 15px;
}

.card-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.card-number {
    display: flex;
    flex-direction: column;
    align-items: start;
}

input[type="text"], input[type="radio"] {
    margin-bottom: 15px;
    width: 100%; 
    padding: 10px;
    border-radius: 10px; 
    border: 1px solid #ccc;
}

input[type="radio"] {
    width: auto; 
    margin-right: 10px;
}

input[type="text"]:focus {
    border-color: #007BFF; 
    outline: none;
}

.payment-btn {
    width: 100%;
    display: flex;
  }
  
  .confirm-payment button {
    width: 350px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #ffc343;
    box-shadow: 2px 2px 5px grey;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .confirm-payment button:hover {
    transform: scale(1.1);
  }
  
  .confirm-payment button.clicked {
    transform: scale(0.9);
  }

@media (max-width: 768px) {
    .payment-page {
        width: 80%; 
        height: auto; 
    }

    form {
        width: 100%; 
    }
}
